*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: rgb(51, 51, 51);
    color: #444444;
    width: 100%;
    justify-items: center;
    accent-color: rgb(25, 156, 15)
}

.content{
    grid-column: 2/3;
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-width: 400px;
    max-width: 900px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.main_section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px 5px;
    background-color: rgba(203, 255, 206, 0.467);
    border-radius: 10px;
    box-shadow: -3px 3px 4px #44444444;
}
.form_section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    background-color: #6b6b6b22;
    padding: 10px 20px;
    border-radius: 5px;
    border-top: 1px solid #ffffff83;
    border-right: 1px solid #ffffff7c;
}
.form_label{
    margin: 10PX 0;
}
.section_label{
    grid-column: span 2;
    margin: 10px 0;
}
.section{
    grid-column: span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff9e;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}
.form_group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8px 0;
    padding: 5px;
}
.radio_group{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 15px;
}
input, select{
    width:  calc(100% - 20px);
    height: 30px;
    border: 2px solid rgba(80, 116, 80, 0.468);
    border-radius: 8px;
    font-size: 1.2rem;
}
input[type="checkbox"]{
    width: 30px;
    margin-left: 10px;
}
.button{
    height: 30px;
}

.child_info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.childFn{
    height: 30px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px;
}



/* Multi purpose classes */

.flex_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col_span_1{
    grid-column: span 1;
}
.col_span_2{
    grid-column: span 2;
}
.col_span_3{
    grid-column: span 3;
}
.col_span_4{
    grid-column: span 4;
}
.col_span_5{
    grid-column: span 5;
}
.col_span_6{
    grid-column: span 6;
}